In [33]:
import pandas as pd
import os
import numpy as np
import warnings

## **IMPORT DATA**

In [34]:
data_path = r"C:\Users\33760\Desktop\projet_cloud\NeuraPrice\Backend\data\France_clean_unique.csv"
print("Readable:", os.access(data_path, os.R_OK))
print("Writable:", os.access(data_path, os.W_OK))

Readable: True
Writable: True

In [35]:
# Display all columns
pd.set_option('display.max_columns', None)

df = pd.read_csv(data_path)

In [36]:
# Create a copy in order to avoid modify initial dataset
df_copy = df.copy()

In [37]:
df.head()

,MYYYY_generation,price_per_sq_m,price_direction,date_of_data_generation,id,isExclusiveness,isNew,livingArea,price,num_rooms.x,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,nr_weeks
0,Jun-22,8021.390374,Decreased,26/06/2022,184901363,True,False,65.45,525000,3,75018,-0.5,5.2,28.76,Paris,medium,1
1,Jun-22,10175.675680,Stayed the same,26/06/2022,186563919,True,False,37.00,376500,2,75018,-0.5,5.2,28.76,Paris,small,1
2,Jun-22,10000.000000,Stayed the same,26/06/2022,185842717,False,False,57.00,570000,3,75018,-0.5,5.2,28.76,Paris,medium,1
3,Jun-22,13846.153850,Decreased,26/06/2022,185953455,True,False,13.00,180000,1,75011,-0.5,5.2,28.76,Paris,small,1
4,Jun-22,8714.285714,Stayed the same,26/06/2022,186801735,True,False,35.00,305000,2,75019,-0.5,5.2,28.76,Paris,small,1

## **DISCOVER THE DATASET**

In [38]:
df.shape
(f'The dataset df contains {df.shape[0]} rows and {df.shape[1]} columns')

'The dataset df contains 20082 rows and 17 columns'

In [39]:
df.describe(include = 'all') # Display all columns

,MYYYY_generation,price_per_sq_m,price_direction,date_of_data_generation,id,isExclusiveness,isNew,livingArea,price,num_rooms.x,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,nr_weeks
count,20082,20082.000000,20082,20082,2.008200e+04,20082,20082,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082,20082,20082.000000
unique,9,NaN,3,36,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,3,NaN
top,Feb-23,NaN,Stayed the same,26/02/2023,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marseille,medium,NaN
freq,3964,NaN,15635,2105,NaN,11970,18425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,805,12340,NaN
mean,NaN,4214.284262,NaN,NaN,1.898167e+08,NaN,NaN,64.889533,263798.183796,2.967384,57430.022358,1.112651,5.898565,23.062787,NaN,NaN,3.563838
std,NaN,2177.124309,NaN,NaN,5.912160e+06,NaN,NaN,23.806112,156290.120879,1.038467,26158.807873,1.044750,0.225912,4.090729,NaN,NaN,4.325386
min,NaN,259.740260,NaN,NaN,8.524596e+07,NaN,NaN,7.440000,20000.000000,1.000000,30.000000,-0.500000,5.200000,16.760000,NaN,NaN,1.000000
25%,NaN,2650.150602,NaN,NaN,1.875622e+08,NaN,NaN,46.860000,149000.000000,2.000000,34170.000000,0.000000,5.840000,19.960000,NaN,NaN,1.000000
50%,NaN,3798.276117,NaN,NaN,1.903411e+08,NaN,NaN,64.355000,225750.000000,3.000000,59200.000000,1.500000,5.910000,21.670000,NaN,NaN,2.000000
75%,NaN,5290.259143,NaN,NaN,1.936657e+08,NaN,NaN,80.890000,341000.000000,4.000000,80000.000000,2.000000,6.080000,26.430000,NaN,NaN,4.000000
max,NaN,20030.303030,NaN,NaN,1.986799e+08,NaN,NaN,130.000000,800000.000000,5.000000,95880.000000,2.500000,6.200000,30.710000,NaN,NaN,47.000000

In [40]:
# See column headings
df.columns

Index(['MYYYY_generation', 'price_per_sq_m', 'price_direction',
       'date_of_data_generation', 'id', 'isExclusiveness', 'isNew',
       'livingArea', 'price', 'num_rooms.x', 'zipCode', 'deposit_rate',
       'lagged_CPI', 'volatility_value', 'City', 'num_rooms_categorical',
       'nr_weeks'],
      dtype='object')

In [41]:
df.dtypes

MYYYY_generation            object
price_per_sq_m             float64
price_direction             object
date_of_data_generation     object
id                           int64
isExclusiveness               bool
isNew                         bool
livingArea                 float64
price                        int64
num_rooms.x                  int64
zipCode                      int64
deposit_rate               float64
lagged_CPI                 float64
volatility_value           float64
City                        object
num_rooms_categorical       object
nr_weeks                     int64
dtype: object

## **DISCOVER VARIABLE**

In [42]:
# Delete unusefull columns
df.drop(columns = ['date_of_data_generation', 'nr_weeks', 'id', 'num_rooms.x'], inplace = True)

In [43]:
df.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,price,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical
0,Jun-22,8021.390374,Decreased,True,False,65.45,525000,75018,-0.5,5.2,28.76,Paris,medium
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,376500,75018,-0.5,5.2,28.76,Paris,small
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,570000,75018,-0.5,5.2,28.76,Paris,medium
3,Jun-22,13846.153850,Decreased,True,False,13.00,180000,75011,-0.5,5.2,28.76,Paris,small
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,305000,75019,-0.5,5.2,28.76,Paris,small

In [44]:
# Display modalities of categorical variables 
for col in df.columns:
    print(f'{col:-<20} {df[col].value_counts()}\n')

MYYYY_generation---- MYYYY_generation
Feb-23    3964
Jan-23    2733
Oct-22    2708
Jul-22    2645
Sep-22    2045
Aug-22    1971
Nov-22    1898
Dec-22    1469
Jun-22     649
Name: count, dtype: int64

price_per_sq_m------ price_per_sq_m
5000.000000     62
4000.000000     38
2500.000000     35
3000.000000     33
3333.333333     24
                ..
6290.979975      1
8809.020437      1
8468.052348      1
7087.500000      1
10409.836070     1
Name: count, Length: 15198, dtype: int64

price_direction----- price_direction
Stayed the same    15635
Decreased           3901
Increased            546
Name: count, dtype: int64

isExclusiveness----- isExclusiveness
False    11970
True      8112
Name: count, dtype: int64

isNew--------------- isNew
False    18425
True      1657
Name: count, dtype: int64

livingArea---------- livingArea
60.00     329
65.00     302
80.00     288
70.00     278
68.00     252
         ...
106.03      1
83.04       1
28.09       1
64.95       1
24.82       1
Name: count, Length: 4615, dtype: int64

price--------------- price
299000    144
399000    141
199000    123
189000    121
159000    121
         ...
99997       1
72025       1
247925      1
62930       1
79200       1
Name: count, Length: 3243, dtype: int64

zipCode------------- zipCode
92600    547
76000    513
92000    455
95100    442
13013    427
        ...
95580      1
34150      1
63310      1
63530      1
78430      1
Name: count, Length: 1273, dtype: int64

deposit_rate-------- deposit_rate
 0.75    4753
 2.50    3964
 1.50    3367
-0.50    3294
 2.00    2733
 0.00    1971
Name: count, dtype: int64

lagged_CPI---------- lagged_CPI
5.99    3964
5.85    2733
5.55    2708
5.84    2645
5.91    2045
6.08    1971
6.20    1898
6.15    1469
5.20     649
Name: count, dtype: int64

volatility_value---- volatility_value
19.96    2105
21.67     758
29.77     747
29.92     676
25.50     662
28.76     649
30.71     648
22.85     627
20.47     584
17.29     579
16.76     566
24.88     557
18.68     551
18.49     547
22.30     544
19.33     526
20.88     519
19.23     517
27.55     516
24.06     506
22.91     498
26.66     498
20.78     496
17.34     490
28.82     452
24.89     441
30.00     428
24.58     422
26.43     412
20.89     398
21.21     389
20.04     376
19.93     357
21.40     349
27.83     346
21.32     346
Name: count, dtype: int64

City---------------- City
Marseille                    805
Nantes                       588
Bordeaux                     588
Lyon                         575
Toulouse                     557
Asnieres-sur-Seine           547
Boulogne-Billancourt         547
Aix-en-Provence              534
Toulon                       531
Perpignan                    529
Cergy-Pontoise               520
Brest                        514
Rouen                        513
Montpellier                  511
Metz                         470
Avignon                      464
Nanterre                     455
Angers                       449
Caen                         442
Argenteuil                   442
Paris                        434
Amiens                       428
Orleans                      425
Saint-Quentin-en-Yvelines    424
Grenoble                     424
Clermont-Ferrand             422
Lille                        415
Tours                        414
Limoges                      408
Strasbourg                   404
Courbevoie                   400
Saint-Etienne                378
Versailles                   372
Reims                        372
Nancy                        371
Dijon                        367
Nimes                        367
Besancon                     354
Le Havre                     351
Poitiers                     341
Saint-Denis                  319
Mulhouse                     296
Rennes                       294
Le Mans                      277
Roubaix                      237
Tourcoing                    207
Name: count, dtype: int64

num_rooms_categorical num_rooms_categorical
medium    12340
small      6382
large      1360
Name: count, dtype: int64

## ***Missing_values*** ##

In [45]:
missing_rate = (df.isna().sum()/df.shape[0]).sort_values(ascending = True)
missing_rate

MYYYY_generation         0.0
price_per_sq_m           0.0
price_direction          0.0
isExclusiveness          0.0
isNew                    0.0
livingArea               0.0
price                    0.0
zipCode                  0.0
deposit_rate             0.0
lagged_CPI               0.0
volatility_value         0.0
City                     0.0
num_rooms_categorical    0.0
dtype: float64

## ***Outliers / Underliers***

In [46]:
def remove_outliers_std_dataframe(df, threshold=3):
    """
    Removes outliers using the standard deviation for all columns in a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to be processed.
    threshold (float): The number of standard deviations above which to remove outliers.

    Returns:
    pd.DataFrame: The DataFrame without the outliers.
    """
    # Apply outlier suppression to each column
    for column in df.select_dtypes(include=['float64', 'int64']).columns:
        mean_val = df[column].mean()
        std_val = df[column].std()

        # Calculate limits
        lower_limit = mean_val - threshold * std_val
        upper_limit = mean_val + threshold * std_val

        # Delete outliers / underliers
        df = df[(df[column] >= lower_limit) & (df[column] <= upper_limit)]

    return df

In [47]:
df_without_outliers = remove_outliers_std_dataframe(df)

In [48]:
def Separate_target_features(df):

    # Separate target variable Y from features X
    print("Separating labels from features...")
    target_variable = "price"

    X = df.drop(target_variable, axis = 1)
    y = df.loc[:,target_variable]

    print("...Done.")
    print()

    print('Y : ')
    print(y.head())
    print()
    print('X :')
    print(X.head())
    
    return X, y

In [49]:
X, y = Separate_target_features(df)

Separating labels from features...
...Done.

Y :
0    525000
1    376500
2    570000
3    180000
4    305000
Name: price, dtype: int64

X :
  MYYYY_generation  price_per_sq_m  price_direction  isExclusiveness  isNew  \
0           Jun-22     8021.390374        Decreased             True  False
1           Jun-22    10175.675680  Stayed the same             True  False
2           Jun-22    10000.000000  Stayed the same            False  False
3           Jun-22    13846.153850        Decreased             True  False
4           Jun-22     8714.285714  Stayed the same             True  False

   livingArea  zipCode  deposit_rate  lagged_CPI  volatility_value   City  \
0       65.45    75018          -0.5         5.2             28.76  Paris
1       37.00    75018          -0.5         5.2             28.76  Paris
2       57.00    75018          -0.5         5.2             28.76  Paris
3       13.00    75011          -0.5         5.2             28.76  Paris
4       35.00    75019          -0.5         5.2             28.76  Paris

  num_rooms_categorical
0                medium
1                 small
2                medium
3                 small
4                 small

In [50]:
X.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical
0,Jun-22,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium
3,Jun-22,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small

In [51]:
import datetime

X['month'] = pd.to_datetime(X['MYYYY_generation'], format='%b-%y').dt.month
X['year'] = pd.to_datetime(X['MYYYY_generation'], format='%b-%y').dt.year

X['num_rooms_categorical'] = X['num_rooms_categorical'].astype(object)

In [52]:
X.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,month,year
0,Jun-22,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium,6,2022
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small,6,2022
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium,6,2022
3,Jun-22,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small,6,2022
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small,6,2022

In [53]:
X.drop(columns = 'MYYYY_generation', inplace = True)
X.head()

,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,month,year
0,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium,6,2022
1,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small,6,2022
2,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium,6,2022
3,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small,6,2022
4,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small,6,2022

In [54]:
X.dtypes

price_per_sq_m           float64
price_direction           object
isExclusiveness             bool
isNew                       bool
livingArea               float64
zipCode                    int64
deposit_rate             float64
lagged_CPI               float64
volatility_value         float64
City                      object
num_rooms_categorical     object
month                      int32
year                       int32
dtype: object

In [55]:
def separate_cat_num_variable(X):
    """
    Separates features of a DataFrame into numeric and categorical types.

    Parameters:
    X (pd.DataFrame): The DataFrame containing features.

    Returns:
    tuple: A tuple containing lists of numeric and categorical feature names.
    """
    numeric_features = []
    categorical_features = []
    bool_features = []

    for i, t in X.dtypes.items():
        if ('float' in str(t)) or ('int32' in str(t)) or ('int64' in str(t)):
            numeric_features.append(i)
        
        elif ('bool' in str(t)):
            bool_features.append(i)
            
        else:
            categorical_features.append(i)
            
    categorical_features.pop(1)
    categorical_ordinal_features = ["City"]
    numeric_features.remove("price_per_sq_m")
    
    print('Found numeric features:', numeric_features)
    print('Found categorical features:', categorical_ordinal_features)
    print('Found bool features:', bool_features)
    print('Found cat features:', categorical_features)

    return numeric_features, categorical_features, bool_features, categorical_ordinal_features

In [56]:
# Apply function
numeric_features, categorical_features, bool_features, categorical_ordinal_features = separate_cat_num_variable(X)

Found numeric features: ['livingArea', 'zipCode', 'deposit_rate', 'lagged_CPI', 'volatility_value', 'month', 'year']
Found categorical features: ['City']
Found bool features: ['isExclusiveness', 'isNew']
Found cat features: ['price_direction', 'num_rooms_categorical']

In [57]:
from sklearn.model_selection import train_test_split

# Applys Train-Test-Split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 44)

In [58]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler, LabelEncoder, OrdinalEncoder, FunctionTransformer
from sklearn.compose import ColumnTransformer

In [59]:
# Fonction explicite pour convertir les booléens en entiers (évite lambda => problème avec l'enregistrement du pipeline)
def convert_bool_to_int(X):
    return X.astype(int)

def Create_pipeline_preprocessor(numeric_features, categorical_features, bool_features, categorical_ordinal_features):
    """
    Create a pipeline for preprocessing features.

    Parameters:
    - numeric_features : list of numeric columns
    - categorical_features : list of categorical features
    - bool_features : list of boolean features
    - categorical_ordinal_features : list of ordinal categorical features

    Returns:
    - preprocessor : ColumnTransformer object that applies transformations to the dataset
    """

    # Pipeline for numeric features (StandardScaler for normalization)
    numeric_transformer = StandardScaler()

    # Pipeline for ordinal categorical features (OrdinalEncoder)
    categorical_ordinal_transformer = OrdinalEncoder()

    # Pipeline for nominal categorical features (OneHotEncoder, dropping first to avoid collinearity)
    categorical_transformer = OneHotEncoder(drop='first', handle_unknown='ignore')

    # Pipeline for boolean features (convert bool to int using a function instead of lambda)
    bool_transformer = FunctionTransformer(convert_bool_to_int)

    # ColumnTransformer to apply transformations
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer, numeric_features),
            ('cat_ord', categorical_ordinal_transformer, categorical_ordinal_features),
            ('cat', categorical_transformer, categorical_features),
            ('bool', bool_transformer, bool_features)
        ]
    )

    return preprocessor

In [60]:
preprocessor = Create_pipeline_preprocessor(numeric_features, categorical_features, bool_features, categorical_ordinal_features)

In [61]:
import pickle
import dill

def apply_preprocessing(preprocessor, X_train, Y_train, X_test, Y_test, save_path="../models/preprocessor_real_estate.pkl"):
    """
    Apply preprocessing steps on training and test sets.

    Parameters:
    - preprocessor (object): The preprocessor (e.g., ColumnTransformer) for feature transformations.
    - X_train (DataFrame or ndarray): Training features.
    - Y_train (Series or ndarray): Training labels.
    - X_test (DataFrame or ndarray): Test features.
    - Y_test (Series or ndarray): Test labels.
    - save_path (str): Path where the fitted preprocessor should be saved.

    Returns:
    - X_train_transformed (ndarray): Processed training features.
    - Y_train (ndarray): Encoded training labels.
    - X_test_transformed (ndarray): Processed test features.
    - Y_test (ndarray): Encoded test labels.
    """

    print("\n🔹 Entraînement du préprocesseur sur le train set...")

    # Entraîner le préprocesseur sur X_train uniquement (PAS `fit_transform()`)
    preprocessor.fit(X_train)

    # sauvegarde du préprocesseur entraîné
    with open(save_path, "wb") as f:
        dill.dump(preprocessor, f) # utiliser dill pour garder les fonctions personnalisées dans le pickle
    print(f"✅ Préprocesseur entraîné et sauvegardé dans {save_path}")

    # Appliquer la transformation sur X_train
    print("\n🔹 Transformation de X_train...")
    X_train_transformed = preprocessor.transform(X_train)
    print(f"✅ X_train transformé. Shape: {X_train_transformed.shape}")

    # Vérification Y_train
    Y_train = np.array(Y_train)
    print(f"✅ Labels Y_train convertis en array. Shape: {Y_train.shape}")

    # Appliquer la transformation sur X_test (⚠️ Ne pas refit !)
    print("\n🔹 Transformation de X_test...")
    X_test_transformed = preprocessor.transform(X_test)
    print(f"✅ X_test transformé. Shape: {X_test_transformed.shape}")

    # Vérification Y_test
    Y_test = np.array(Y_test)
    print(f"✅ Labels Y_test convertis en array. Shape: {Y_test.shape}")

    print("\n✅ Preprocessing terminé avec succès !")

    return X_train_transformed, Y_train, X_test_transformed, Y_test

In [62]:
# Apply function 
X_train_transformed, Y_train, X_test_transformed, Y_test = apply_preprocessing(preprocessor, X_train, Y_train, X_test, Y_test, save_path = "../models/preprocessor_real_estate.pkl")

🔹 Entraînement du préprocesseur sur le train set...
✅ Préprocesseur entraîné et sauvegardé dans ../models/preprocessor_real_estate.pkl

🔹 Transformation de X_train...
✅ X_train transformé. Shape: (16065, 14)
✅ Labels Y_train convertis en array. Shape: (16065,)

🔹 Transformation de X_test...
✅ X_test transformé. Shape: (4017, 14)
✅ Labels Y_test convertis en array. Shape: (4017,)

✅ Preprocessing terminé avec succès !

In [63]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error

In [64]:
# Enregistrer le Pipeline de transformation polynomial et de selction de variable sans le modèle
poly_select_pipeline_real_estate = Pipeline([
    ('polynomial', PolynomialFeatures(degree=2, include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k=12))
])

poly_select_pipeline_real_estate.fit(X_train_transformed, Y_train)

with open("../models/poly_select_pipeline_real_estate.pkl", "wb") as f:
    dill.dump(poly_select_pipeline_real_estate, f)
    print(f"pipeline sauvezgardé sur dans le chemin : ../models/poly_select_pipeline_real_estate.pkl")
    
# Transformation de X_train et X_test
X_train_selected = poly_select_pipeline_real_estate.transform(X_train_transformed)
X_test_selected = poly_select_pipeline_real_estate.transform(X_test_transformed)

print(f"✅ Transformation polynomiale et sélection de features terminées")
print(f"X_train_selected shape: {X_train_selected.shape}")
print(f"X_test_selected shape: {X_test_selected.shape}")

pipeline sauvezgardé sur dans le chemin : ../models/poly_select_pipeline_real_estate.pkl
✅ Transformation polynomiale et sélection de features terminées
X_train_selected shape: (16065, 12)
X_test_selected shape: (4017, 12)

In [65]:
estimator = RandomForestRegressor(random_state = 42)

In [66]:
hyper_params = {
    'max_depth': [40],
    'min_samples_leaf': [3, 4],
    'min_samples_split': [2, 3],
    'n_estimators': [200]}

In [67]:
from sklearn.metrics import make_scorer

# Define the metrics to evaluate
scoring_metrics = {
    'r2': make_scorer(r2_score),  # R2
    'mse': make_scorer(mean_squared_error, greater_is_better=False)  # MSE (minimisation)
}

In [68]:
from sklearn.model_selection import GridSearchCV

# If refit is set to True, it means that once the grid search is complete
# and the best parameters are identified, the model is automatically fitted to the entire training dataset with these best parameters.
# This can be convenient as it gives you a ready-to-use model with the best parameters,
# and you can directly use it to make predictions on new data without manually adjusting the model with the best parameters.

# Perform Grid Search with Cross-Validation
gridsearch = GridSearchCV(estimator = estimator, scoring=scoring_metrics, param_grid=hyper_params, cv=10, refit='r2', verbose=2, n_jobs=-1)
gridsearch.fit(X_train_selected, Y_train)
print("Grid Search and Cross-Validation...Done.")

# Get the best model based on the grid search
best_model = gridsearch.best_estimator_

# Predictions on the training set
y_train_pred = best_model.predict(X_train_selected)
# Predictions on the test set
y_test_pred = best_model.predict(X_test_selected)

# Display evaluation metrics for the training set
print('Train:')
print(r2_score(Y_train, y_train_pred))
print("Best hyperparameters: ", gridsearch.best_params_)
print("Best validation base on r2 score: ", gridsearch.best_score_)
print(mean_squared_error(Y_train, y_train_pred))

print()

# Display evaluation metrics for the test set
print('Test:')
print(r2_score(Y_test, y_test_pred))
print("Best hyperparameters: ", gridsearch.best_params_)
print(mean_squared_error(Y_test, y_test_pred))

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Grid Search and Cross-Validation...Done.
Train:
0.9083101383596566
Best hyperparameters:  {'max_depth': 40, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 200}
Best validation base on r2 score:  0.7624094614348765
2224278628.5943036

Test:
0.7778083454951898
Best hyperparameters:  {'max_depth': 40, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 200}
5574300009.020868

In [69]:
import pickle

# Chemin où sauvegarder le modèle
save_path = '../models/rf_best_model.pkl'

# Sauvegarde avec pickle
with open(save_path, 'wb') as f:
    dill.dump(best_model, f)

print(f"Modèle sauvegardé avec succès en Pickle : {save_path}")

Modèle sauvegardé avec succès en Pickle : ../models/rf_best_model.pkl

## ***Charger les pipelines et le modèle*** ##

In [70]:
with open('../models/preprocessor_real_estate.pkl', 'rb') as f:
    preprocessor_real_estate = dill.load(f)

print("Modèle chargé avec succès avec pickle.")

Modèle chargé avec succès avec pickle.

In [71]:
with open('../models/poly_select_pipeline_real_estate.pkl', 'rb') as f:
    poly_select_pipeline_real_estate = dill.load(f)

print("Modèle chargé avec succès avec pickle.")

Modèle chargé avec succès avec pickle.

In [72]:
with open('../models/rf_best_model.pkl', 'rb') as f:
    rf_best_model = dill.load(f)

print("Modèle chargé avec succès avec pickle.")

Modèle chargé avec succès avec pickle.

## ***Appliquer les pipeline sur une ligne et faire une prédiction*** ##

In [73]:
# Extract one row
single_row = X_test[1:2]

In [74]:
single_row_target = Y_test[1:2]

In [75]:
# Appliquer le preprocessor sur X_test_without_preprocessor
X_test_single_preprocessed = preprocessor_real_estate.transform(single_row)

# Appliquer le pipeline de transformation polynomiale sur X_processed
X_test_single_selected = poly_select_pipeline_real_estate.transform(X_test_single_preprocessed)


# Make a prediction with load model
predicted_value_single_row = rf_best_model.predict(X_test_single_selected)

# Display preiction
print(f"Valeur prédite : {predicted_value_single_row}")

Valeur prédite : [256700.81774459]