In [101]:
import pandas as pd
import os
import numpy as np
import warnings

## **IMPORT DATA**

In [102]:
data_path = r"C:\Users\33760\Desktop\projet_cloud\NeuraPrice\Backend\data\data_clean_final.csv"
print("Readable:", os.access(data_path, os.R_OK))
print("Writable:", os.access(data_path, os.W_OK))

Readable: True
Writable: True

In [103]:
# Display all columns
pd.set_option('display.max_columns', None)

df = pd.read_csv(data_path)

In [104]:
# Create a copy in order to avoid modify initial dataset
df_copy = df.copy()

In [105]:
df.head()

,MYYYY_generation,price_per_sq_m,price_direction,date_of_data_generation,id,isExclusiveness,isNew,livingArea,price,num_rooms.x,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,nr_weeks
0,Jun-22,8021.390374,Decreased,26/06/2022,184901363,True,False,65.45,525000,3,75018,-0.5,5.2,28.76,Paris,medium,1
1,Jun-22,10175.675680,Stayed the same,26/06/2022,186563919,True,False,37.00,376500,2,75018,-0.5,5.2,28.76,Paris,small,1
2,Jun-22,10000.000000,Stayed the same,26/06/2022,185842717,False,False,57.00,570000,3,75018,-0.5,5.2,28.76,Paris,medium,1
3,Jun-22,13846.153850,Decreased,26/06/2022,185953455,True,False,13.00,180000,1,75011,-0.5,5.2,28.76,Paris,small,1
4,Jun-22,8714.285714,Stayed the same,26/06/2022,186801735,True,False,35.00,305000,2,75019,-0.5,5.2,28.76,Paris,small,1

## **DISCOVER THE DATASET**

In [106]:
df.shape
(f'The dataset df contains {df.shape[0]} rows and {df.shape[1]} columns')

'The dataset df contains 20082 rows and 17 columns'

In [107]:
df.describe(include = 'all') # Display all columns

,MYYYY_generation,price_per_sq_m,price_direction,date_of_data_generation,id,isExclusiveness,isNew,livingArea,price,num_rooms.x,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,nr_weeks
count,20082,20082.000000,20082,20082,2.008200e+04,20082,20082,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082.000000,20082,20082,20082.000000
unique,9,NaN,3,36,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,3,NaN
top,Feb-23,NaN,Stayed the same,26/02/2023,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marseille,medium,NaN
freq,3964,NaN,15635,2105,NaN,11970,18425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,805,12340,NaN
mean,NaN,4214.284262,NaN,NaN,1.898167e+08,NaN,NaN,64.889533,263798.183796,2.967384,57430.022358,1.112651,5.898565,23.062787,NaN,NaN,3.563838
std,NaN,2177.124309,NaN,NaN,5.912160e+06,NaN,NaN,23.806112,156290.120879,1.038467,26158.807873,1.044750,0.225912,4.090729,NaN,NaN,4.325386
min,NaN,259.740260,NaN,NaN,8.524596e+07,NaN,NaN,7.440000,20000.000000,1.000000,30.000000,-0.500000,5.200000,16.760000,NaN,NaN,1.000000
25%,NaN,2650.150602,NaN,NaN,1.875622e+08,NaN,NaN,46.860000,149000.000000,2.000000,34170.000000,0.000000,5.840000,19.960000,NaN,NaN,1.000000
50%,NaN,3798.276117,NaN,NaN,1.903411e+08,NaN,NaN,64.355000,225750.000000,3.000000,59200.000000,1.500000,5.910000,21.670000,NaN,NaN,2.000000
75%,NaN,5290.259143,NaN,NaN,1.936657e+08,NaN,NaN,80.890000,341000.000000,4.000000,80000.000000,2.000000,6.080000,26.430000,NaN,NaN,4.000000
max,NaN,20030.303030,NaN,NaN,1.986799e+08,NaN,NaN,130.000000,800000.000000,5.000000,95880.000000,2.500000,6.200000,30.710000,NaN,NaN,47.000000

In [108]:
# See column headings
df.columns

Index(['MYYYY_generation', 'price_per_sq_m', 'price_direction',
       'date_of_data_generation', 'id', 'isExclusiveness', 'isNew',
       'livingArea', 'price', 'num_rooms.x', 'zipCode', 'deposit_rate',
       'lagged_CPI', 'volatility_value', 'City', 'num_rooms_categorical',
       'nr_weeks'],
      dtype='object')

In [109]:
df.dtypes

MYYYY_generation            object
price_per_sq_m             float64
price_direction             object
date_of_data_generation     object
id                           int64
isExclusiveness               bool
isNew                         bool
livingArea                 float64
price                        int64
num_rooms.x                  int64
zipCode                      int64
deposit_rate               float64
lagged_CPI                 float64
volatility_value           float64
City                        object
num_rooms_categorical       object
nr_weeks                     int64
dtype: object

## **DISCOVER VARIABLE**

In [110]:
# Delete unusefull columns
df.drop(columns = ['date_of_data_generation', 'nr_weeks', 'id', 'num_rooms.x'], inplace = True)

In [111]:
df.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,price,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical
0,Jun-22,8021.390374,Decreased,True,False,65.45,525000,75018,-0.5,5.2,28.76,Paris,medium
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,376500,75018,-0.5,5.2,28.76,Paris,small
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,570000,75018,-0.5,5.2,28.76,Paris,medium
3,Jun-22,13846.153850,Decreased,True,False,13.00,180000,75011,-0.5,5.2,28.76,Paris,small
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,305000,75019,-0.5,5.2,28.76,Paris,small

In [112]:
# Display modalities of categorical variables 
for col in df.columns:
    print(f'{col:-<20} {df[col].value_counts()}\n')

MYYYY_generation---- MYYYY_generation
Feb-23    3964
Jan-23    2733
Oct-22    2708
Jul-22    2645
Sep-22    2045
Aug-22    1971
Nov-22    1898
Dec-22    1469
Jun-22     649
Name: count, dtype: int64

price_per_sq_m------ price_per_sq_m
5000.000000    62
4000.000000    38
2500.000000    35
3000.000000    33
3500.000000    24
               ..
4546.391753     1
4688.524590     1
3450.980392     1
3141.935484     1
7195.888064     1
Name: count, Length: 15198, dtype: int64

price_direction----- price_direction
Stayed the same    15635
Decreased           3901
Increased            546
Name: count, dtype: int64

isExclusiveness----- isExclusiveness
False    11970
True      8112
Name: count, dtype: int64

isNew--------------- isNew
False    18425
True      1657
Name: count, dtype: int64

livingArea---------- livingArea
60.00    329
65.00    302
80.00    288
70.00    278
68.00    252
        ...
41.87      1
31.99      1
32.80      1
71.95      1
77.81      1
Name: count, Length: 4615, dtype: int64

price--------------- price
299000    144
399000    141
199000    123
159000    121
189000    121
         ...
146280      1
261200      1
219300      1
121400      1
701000      1
Name: count, Length: 3243, dtype: int64

zipCode------------- zipCode
92600    547
76000    513
92000    455
95100    442
13013    427
        ...
69260      1
42130      1
34560      1
35170      1
66800      1
Name: count, Length: 1273, dtype: int64

deposit_rate-------- deposit_rate
 0.75    4753
 2.50    3964
 1.50    3367
-0.50    3294
 2.00    2733
 0.00    1971
Name: count, dtype: int64

lagged_CPI---------- lagged_CPI
5.99    3964
5.85    2733
5.55    2708
5.84    2645
5.91    2045
6.08    1971
6.20    1898
6.15    1469
5.20     649
Name: count, dtype: int64

volatility_value---- volatility_value
19.96    2105
21.67     758
29.77     747
29.92     676
25.50     662
28.76     649
30.71     648
22.85     627
20.47     584
17.29     579
16.76     566
24.88     557
18.68     551
18.49     547
22.30     544
19.33     526
20.88     519
19.23     517
27.55     516
24.06     506
26.66     498
22.91     498
20.78     496
17.34     490
28.82     452
24.89     441
30.00     428
24.58     422
26.43     412
20.89     398
21.21     389
20.04     376
19.93     357
21.40     349
21.32     346
27.83     346
Name: count, dtype: int64

City---------------- City
Marseille                    805
Nantes                       588
Bordeaux                     588
Lyon                         575
Toulouse                     557
Asnieres-sur-Seine           547
Boulogne-Billancourt         547
Aix-en-Provence              534
Toulon                       531
Perpignan                    529
Cergy-Pontoise               520
Brest                        514
Rouen                        513
Montpellier                  511
Metz                         470
Avignon                      464
Nanterre                     455
Angers                       449
Argenteuil                   442
Caen                         442
Paris                        434
Amiens                       428
Orleans                      425
Grenoble                     424
Saint-Quentin-en-Yvelines    424
Clermont-Ferrand             422
Lille                        415
Tours                        414
Limoges                      408
Strasbourg                   404
Courbevoie                   400
Saint-Etienne                378
Versailles                   372
Reims                        372
Nancy                        371
Nimes                        367
Dijon                        367
Besancon                     354
Le Havre                     351
Poitiers                     341
Saint-Denis                  319
Mulhouse                     296
Rennes                       294
Le Mans                      277
Roubaix                      237
Tourcoing                    207
Name: count, dtype: int64

num_rooms_categorical num_rooms_categorical
medium    12340
small      6382
large      1360
Name: count, dtype: int64

## ***Missing_values*** ##

In [113]:
missing_rate = (df.isna().sum()/df.shape[0]).sort_values(ascending = True)
missing_rate

MYYYY_generation         0.0
price_per_sq_m           0.0
price_direction          0.0
isExclusiveness          0.0
isNew                    0.0
livingArea               0.0
price                    0.0
zipCode                  0.0
deposit_rate             0.0
lagged_CPI               0.0
volatility_value         0.0
City                     0.0
num_rooms_categorical    0.0
dtype: float64

## ***Outliers / Underliers***

In [114]:
def remove_outliers_std_dataframe(df, threshold=3):
    """
    Removes outliers using the standard deviation for all columns in a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to be processed.
    threshold (float): The number of standard deviations above which to remove outliers.

    Returns:
    pd.DataFrame: The DataFrame without the outliers.
    """
    # Apply outlier suppression to each column
    for column in df.select_dtypes(include=['float64', 'int64']).columns:
        mean_val = df[column].mean()
        std_val = df[column].std()

        # Calculate limits
        lower_limit = mean_val - threshold * std_val
        upper_limit = mean_val + threshold * std_val

        # Delete outliers / underliers
        df = df[(df[column] >= lower_limit) & (df[column] <= upper_limit)]

    return df

In [115]:
df_without_outliers = remove_outliers_std_dataframe(df)

In [116]:
def Separate_target_features(df):

    # Separate target variable Y from features X
    print("Separating labels from features...")
    target_variable = "price"

    X = df.drop(target_variable, axis = 1)
    y = df.loc[:,target_variable]

    print("...Done.")
    print()

    print('Y : ')
    print(y.head())
    print()
    print('X :')
    print(X.head())
    
    return X, y

In [117]:
X, y = Separate_target_features(df)

Separating labels from features...
...Done.

Y :
0    525000
1    376500
2    570000
3    180000
4    305000
Name: price, dtype: int64

X :
  MYYYY_generation  price_per_sq_m  price_direction  isExclusiveness  isNew  \
0           Jun-22     8021.390374        Decreased             True  False
1           Jun-22    10175.675680  Stayed the same             True  False
2           Jun-22    10000.000000  Stayed the same            False  False
3           Jun-22    13846.153850        Decreased             True  False
4           Jun-22     8714.285714  Stayed the same             True  False

   livingArea  zipCode  deposit_rate  lagged_CPI  volatility_value   City  \
0       65.45    75018          -0.5         5.2             28.76  Paris
1       37.00    75018          -0.5         5.2             28.76  Paris
2       57.00    75018          -0.5         5.2             28.76  Paris
3       13.00    75011          -0.5         5.2             28.76  Paris
4       35.00    75019          -0.5         5.2             28.76  Paris

  num_rooms_categorical
0                medium
1                 small
2                medium
3                 small
4                 small

In [118]:
X.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical
0,Jun-22,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium
3,Jun-22,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small

In [119]:
import datetime

X['month'] = pd.to_datetime(X['MYYYY_generation'], format='%b-%y').dt.month
X['year'] = pd.to_datetime(X['MYYYY_generation'], format='%b-%y').dt.year

X['num_rooms_categorical'] = X['num_rooms_categorical'].astype(object)

In [120]:
X.head()

,MYYYY_generation,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,month,year
0,Jun-22,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium,6,2022
1,Jun-22,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small,6,2022
2,Jun-22,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium,6,2022
3,Jun-22,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small,6,2022
4,Jun-22,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small,6,2022

In [121]:
X.drop(columns = 'MYYYY_generation', inplace = True)
X.head()

,price_per_sq_m,price_direction,isExclusiveness,isNew,livingArea,zipCode,deposit_rate,lagged_CPI,volatility_value,City,num_rooms_categorical,month,year
0,8021.390374,Decreased,True,False,65.45,75018,-0.5,5.2,28.76,Paris,medium,6,2022
1,10175.675680,Stayed the same,True,False,37.00,75018,-0.5,5.2,28.76,Paris,small,6,2022
2,10000.000000,Stayed the same,False,False,57.00,75018,-0.5,5.2,28.76,Paris,medium,6,2022
3,13846.153850,Decreased,True,False,13.00,75011,-0.5,5.2,28.76,Paris,small,6,2022
4,8714.285714,Stayed the same,True,False,35.00,75019,-0.5,5.2,28.76,Paris,small,6,2022

In [122]:
X.dtypes

price_per_sq_m           float64
price_direction           object
isExclusiveness             bool
isNew                       bool
livingArea               float64
zipCode                    int64
deposit_rate             float64
lagged_CPI               float64
volatility_value         float64
City                      object
num_rooms_categorical     object
month                      int32
year                       int32
dtype: object

In [123]:
def separate_cat_num_variable(X):
    """
    Separates features of a DataFrame into numeric and categorical types.

    Parameters:
    X (pd.DataFrame): The DataFrame containing features.

    Returns:
    tuple: A tuple containing lists of numeric and categorical feature names.
    """
    numeric_features = []
    categorical_features = []
    bool_features = []

    for i, t in X.dtypes.items():
        if ('float' in str(t)) or ('int32' in str(t)) or ('int64' in str(t)):
            numeric_features.append(i)
        
        elif ('bool' in str(t)):
            bool_features.append(i)
            
        else:
            categorical_features.append(i)
            
    categorical_features.pop(1)
    categorical_ordinal_features = ["City"]
    
    print('Found numeric features:', numeric_features)
    print('Found categorical features:', categorical_ordinal_features)
    print('Found bool features:', bool_features)
    print('Found cat features:', categorical_features)

    return numeric_features, categorical_features, bool_features, categorical_ordinal_features

In [124]:
# Apply function
numeric_features, categorical_features, bool_features, categorical_ordinal_features = separate_cat_num_variable(X)

Found numeric features: ['price_per_sq_m', 'livingArea', 'zipCode', 'deposit_rate', 'lagged_CPI', 'volatility_value', 'month', 'year']
Found categorical features: ['City']
Found bool features: ['isExclusiveness', 'isNew']
Found cat features: ['price_direction', 'num_rooms_categorical']

In [125]:
from sklearn.model_selection import train_test_split

# Applys Train-Test-Split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 44)

In [126]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler, LabelEncoder, OrdinalEncoder, FunctionTransformer
from sklearn.compose import ColumnTransformer

In [127]:
def Create_pipeline_preprocessor(numeric_features, categorical_features, bool_features, categorical_ordinal_features):
    
    """
    Create a papeline in order to apply features preprocessing
    
    Parameters : 
    numeric features : list of numeric columns
    categorical_features : list of categorical features
    
    Returns :
    Display preprocessor with tranformations

    """
 
    # Create pipeline for numeric features
    numeric_transformer = StandardScaler() # missing values will be replaced by columns mean (here we don't have missing values)
    categorical_ordinal_transformer = OrdinalEncoder() # encode with 0 and 1 categorical variable, the argument drop = first the first level of each categorical characteristic is excluded to avoid collinearity
    categorical_transformer = OneHotEncoder(drop='first', handle_unknown='ignore')
    bool_transformer = FunctionTransformer(lambda x: x.astype(int))

    # Use ColumnTransformer to make a preprocessor object that describes all the treatments to be done
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer, numeric_features), # no need numeric_transformer no missing/NaN values
            ('cat_ord', categorical_ordinal_transformer, categorical_ordinal_features),
            ('cat', categorical_transformer, categorical_features),
            ('bool', bool_transformer, bool_features)
        ])
    
    print(preprocessor)
    return preprocessor

In [128]:
preprocessor = Create_pipeline_preprocessor(numeric_features, categorical_features, bool_features, categorical_ordinal_features)

ColumnTransformer(transformers=[('num', StandardScaler(),
                                 ['price_per_sq_m', 'livingArea', 'zipCode',
                                  'deposit_rate', 'lagged_CPI',
                                  'volatility_value', 'month', 'year']),
                                ('cat_ord', OrdinalEncoder(), ['City']),
                                ('cat',
                                 OneHotEncoder(drop='first',
                                               handle_unknown='ignore'),
                                 ['price_direction', 'num_rooms_categorical']),
                                ('bool',
                                 FunctionTransformer(func=<function Create_pipeline_preprocessor.<locals>.<lambda> at 0x0000016B8B1D5480>),
                                 ['isExclusiveness', 'isNew'])])

In [129]:
def apply_preprocessing(preprocessor, X_train, Y_train, X_test, Y_test):
    
    '''
        Apply preprocessing steps on training and test sets.

    Parameters:
    preprocessor (object): The preprocessor object (e.g., ColumnTransformer) for feature transformations.
    X_train (DataFrame or ndarray): Training features.
    Y_train (Series or ndarray): Training labels.
    X_test (DataFrame or ndarray): Test features.
    Y_test (Series or ndarray): Test labels.

    Returns:
    X_train (ndarray): Processed training features.
    Y_train (ndarray): Encoded training labels.
    X_test (ndarray): Processed test features.
    Y_test (ndarray): Encoded test labels.
    
    '''
       
    # Preprocessings on train set
    print("Performing preprocessings on train set...")
    print(X_train.head())
    X_train = preprocessor.fit_transform(X_train)
    print('...Done.')
    print(X_train[0:5]) # MUST use this syntax because X_train is a numpy array and not a pandas DataFrame anymore
    print()

    print(Y_train[0:5])

    # Preprocessings on test set
    print("Performing preprocessings on test set...")
    print(X_test.head()) 
    X_test = preprocessor.transform(X_test) # Don't fit again !! The test set is used for validating decisions
    # we made based on the training set, therefore we can only apply transformations that were parametered using the training set.
    # Otherwise this creates what is called a leak from the test set which will introduce a bias in all your results.
    print('...Done.')
    print(X_test[0:5,:]) # MUST use this syntax because X_test is a numpy array and not a pandas DataFrame anymore
    print()

    # Label encoding
    print(Y_test[0:5])
    
    
    return X_train, Y_train, X_test, Y_test

In [130]:
# Apply function 
X_train, Y_train, X_test, Y_test = apply_preprocessing(preprocessor, X_train, Y_train, X_test, Y_test)

Performing preprocessings on train set...
       price_per_sq_m  price_direction  isExclusiveness  isNew  livingArea  \
4043      1221.311475  Stayed the same            False  False       122.0
11933     6000.000000  Stayed the same             True  False        20.0
13651     3566.666667  Stayed the same            False  False        33.0
18026     5297.872340  Stayed the same             True  False        47.0
10925     3312.500000        Decreased             True  False        64.0

       zipCode  deposit_rate  lagged_CPI  volatility_value        City  \
4043     59200           0.0        6.08             24.58   Tourcoing
11933    13007           1.5        6.15             21.40   Marseille
13651    80350           2.0        5.85             18.49      Amiens
18026    13007           2.5        5.99             19.96   Marseille
10925    95100           1.5        6.20             20.88  Argenteuil

      num_rooms_categorical  month  year
4043                 medium      8  2022
11933                 small     12  2022
13651                 small      1  2023
18026                 small      2  2023
10925                medium     11  2022
...Done.
[[-1.36979172e+00  2.40041510e+00  6.74965341e-02 -1.06525793e+00
   7.99818584e-01  3.77582865e-01  3.59449411e-01 -7.06710680e-01
   4.30000000e+01  0.00000000e+00  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 8.16269665e-01 -1.88447548e+00 -1.70107223e+00  3.71210667e-01
   1.10974663e+00 -4.00468087e-01  1.39948810e+00 -7.06710680e-01
   2.10000000e+01  0.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  0.00000000e+00]
 [-2.96884289e-01 -1.33836198e+00  8.77256225e-01  8.50033532e-01
  -2.18516430e-01 -1.11245811e+00 -1.46061829e+00  1.41500621e+00
   1.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 4.95073974e-01 -7.50239738e-01 -1.70107223e+00  1.32885640e+00
   4.01339666e-01 -7.52793046e-01 -1.20060862e+00  1.41500621e+00
   2.10000000e+01  0.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00  1.00000000e+00  0.00000000e+00]
 [-4.13155507e-01 -3.60913079e-02  1.44198225e+00  3.71210667e-01
   1.33112381e+00 -5.27696544e-01  1.13947843e+00 -7.06710680e-01
   3.00000000e+00  0.00000000e+00  0.00000000e+00  1.00000000e+00
   0.00000000e+00  1.00000000e+00  0.00000000e+00]]

4043     149000
11933    120000
13651    117700
18026    249000
10925    212000
Name: price, dtype: int64
Performing preprocessings on test set...
       price_per_sq_m  price_direction  isExclusiveness  isNew  livingArea  \
2296      1273.678258  Stayed the same            False  False       70.74
7483      2753.846154        Decreased            False  False       65.00
13597     7266.119578  Stayed the same            False  False       42.65
19583     5135.846531  Stayed the same            False  False       44.83
17599     4104.699584  Stayed the same            False   True       84.05

       zipCode  deposit_rate  lagged_CPI  volatility_value      City  \
2296     51200         -0.50        5.84             22.30     Reims
7483     76600          0.75        5.55             29.92  Le Havre
13597    49100          2.00        5.85             18.49    Angers
19583    54000          2.50        5.99             19.96     Nancy
17599    37520          2.50        5.99             21.67     Tours

      num_rooms_categorical  month  year
2296                 medium      7  2022
7483                 medium     10  2022
13597                 small      1  2023
19583                medium      2  2023
17599                medium      2  2023
...Done.
[[-1.34583598e+00  2.47047541e-01 -2.38795548e-01 -1.54408079e+00
  -2.62791865e-01 -1.80264987e-01  9.94397399e-02 -7.06710680e-01
   3.30000000e+01  0.00000000e+00  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00]
 [-6.68717591e-01  5.91742336e-03  7.33681812e-01 -3.47023630e-01
  -1.54677949e+00  1.68412126e+00  8.79468754e-01 -7.06710680e-01
   1.60000000e+01  0.00000000e+00  0.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 1.39546940e+00 -9.32977719e-01 -3.19197219e-01  8.50033532e-01
  -2.18516430e-01 -1.11245811e+00 -1.46061829e+00  1.41500621e+00
   2.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 4.20953562e-01 -8.41398685e-01 -1.31593319e-01  1.32885640e+00
   4.01339666e-01 -7.52793046e-01 -1.20060862e+00  1.41500621e+00
   2.50000000e+01  0.00000000e+00  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00]
 [-5.07554660e-02  8.06183753e-01 -7.62555008e-01  1.32885640e+00
   4.01339666e-01 -3.34407157e-01 -1.20060862e+00  1.41500621e+00
   4.40000000e+01  0.00000000e+00  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  1.00000000e+00]]

2296      90100
7483     179000
13597    309900
19583    230240
17599    345000
Name: price, dtype: int64

In [131]:
X_train.shape

(16065, 15)

In [132]:
Y_train.shape

(16065,)

In [133]:
X_train[0]

array([-1.36979172,  2.4004151 ,  0.06749653, -1.06525793,  0.79981858,
        0.37758286,  0.35944941, -0.70671068, 43.        ,  0.        ,
        1.        ,  1.        ,  0.        ,  0.        ,  0.        ])

In [134]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error

In [135]:
XGB_pipeline = Pipeline([
    ('polynomial', PolynomialFeatures(degree=2, include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k= 14)),
    ('regressor', XGBRegressor(random_state=42))
])

RFR_pipeline = Pipeline([
    ('polynomial', PolynomialFeatures(degree=2, include_bias=False)),
    ('select', SelectKBest(score_func=f_regression, k= 14)),
    ('regressor', RandomForestRegressor(random_state=42))
])

In [136]:
dict_of_pipelines = {
    'RandomForestRegressor': RFR_pipeline,
    'XGBoostRegressor': XGB_pipeline
}

In [137]:
def evaluation_pipeline(pipeline, X_train, Y_train, X_test, Y_test):
    '''
    Évalue un modèle de machine learning en ajustant les données d'entraînement
    et en effectuant des prédictions sur les ensembles d'entraînement et de test.
    '''
    # Fit model
    pipeline.fit(X_train, Y_train)

    # Predictions
    print("Predictions on the training set...")
    Y_train_pred = pipeline.predict(X_train)
    print("...Done.")
    
    print("Predictions on the test set...")
    Y_test_pred = pipeline.predict(X_test)
    print("...Done.")

    # Display metrics
    print("Metrics on Training Set:")
    print(f"R2 score: {r2_score(Y_train, Y_train_pred):.4f}")
    print(f"MSE: {mean_squared_error(Y_train, Y_train_pred):.4f}\n")

    print("Metrics on Test Set:")
    print(f"R2 score: {r2_score(Y_test, Y_test_pred):.4f}")
    print(f"MSE: {mean_squared_error(Y_test, Y_test_pred):.4f}\n")

    return Y_train_pred, Y_test_pred

In [138]:
# Evaluate models whith a loop
for name, pipeline in dict_of_pipelines.items():
    print(f"Evaluate model : {name}")
    evaluation_pipeline(pipeline, X_train, Y_train, X_test, Y_test)
    print("\n" + "="*50 + "\n")

Evaluate model : RandomForestRegressor
Predictions on the training set...
...Done.
Predictions on the test set...
...Done.
Metrics on Training Set:
R2 score: 0.9999
MSE: 1960910.0508

Metrics on Test Set:
R2 score: 0.9994
MSE: 15482981.9530


==================================================

Evaluate model : XGBoostRegressor
Predictions on the training set...
...Done.
Predictions on the test set...
...Done.
Metrics on Training Set:
R2 score: 0.9996
MSE: 10396118.4383

Metrics on Test Set:
R2 score: 0.9986
MSE: 34016606.5921


==================================================

In [139]:
single_row = X_test[-1:]  
true_value = Y_test.iloc[-1:]

In [140]:
predicted_value = XGB_pipeline.predict(single_row)

print(f"Valeur vraie : {true_value}")
print(f"Valeur prédite : {predicted_value[0]}")

Valeur vraie : 340    76000
Name: price, dtype: int64
Valeur prédite : 72127.96875

In [141]:
from joblib import dump
from joblib import load

# Save trained modell
dump(RFR_pipeline, "rfr.joblib", compress = 3)

# Load model
loaded_model = load("rfr.joblib")

In [142]:
raw_value = Y_test[1:2]
raw_value

7483    179000
Name: price, dtype: int64

In [143]:
value_pred = loaded_model.predict(X_test[1:2])
print(value_pred)

[179447.62]

In [144]:
hyper_params = {
    'regressor__max_depth': [24, 25, 26],
    'regressor__min_samples_leaf': [1, 2],
    'regressor__min_samples_split': [1.0, 2, 3],
    'regressor__n_estimators': [105, 106, 107]}

In [145]:
from sklearn.metrics import make_scorer

# Define the metrics to evaluate
scoring_metrics = {
    'r2': make_scorer(r2_score),  # R2
    'mse': make_scorer(mean_squared_error, greater_is_better=False)  # MSE (minimisation)
}

In [146]:
from sklearn.model_selection import GridSearchCV

# If refit is set to True, it means that once the grid search is complete
# and the best parameters are identified, the model is automatically fitted to the entire training dataset with these best parameters.
# This can be convenient as it gives you a ready-to-use model with the best parameters,
# and you can directly use it to make predictions on new data without manually adjusting the model with the best parameters.

# Perform Grid Search with Cross-Validation
gridsearch = GridSearchCV(estimator = RFR_pipeline, scoring=scoring_metrics, param_grid=hyper_params, cv=8, refit='r2', verbose=2, n_jobs=-1)
gridsearch.fit(X_train, Y_train)
print("Grid Search and Cross-Validation...Done.")

# Get the best model based on the grid search
best_model = gridsearch.best_estimator_

# Predictions on the training set
y_train_pred = best_model.predict(X_train)
# Predictions on the test set
y_test_pred = best_model.predict(X_test)

# Display evaluation metrics for the training set
print('Train:')
print(r2_score(Y_train, y_train_pred))
print("Best hyperparameters: ", gridsearch.best_params_)
print("Best validation base on r2 score: ", gridsearch.best_score_)
print(mean_squared_error(Y_train, y_train_pred))

print()

# Display evaluation metrics for the test set
print('Test:')
print(r2_score(Y_test, y_test_pred))
print("Best hyperparameters: ", gridsearch.best_params_)
print(mean_squared_error(Y_test, y_test_pred))

Fitting 8 folds for each of 54 candidates, totalling 432 fits
Grid Search and Cross-Validation...Done.
Train:
0.9999131510550406
Best hyperparameters:  {'regressor__max_depth': 24, 'regressor__min_samples_leaf': 1, 'regressor__min_samples_split': 3, 'regressor__n_estimators': 107}
Best validation base on r2 score:  0.9993491278708351
2106844.189021705

Test:
0.9993988461723752
Best hyperparameters:  {'regressor__max_depth': 24, 'regressor__min_samples_leaf': 1, 'regressor__min_samples_split': 3, 'regressor__n_estimators': 107}
15081627.589569509

In [147]:
# Save best model
dump(gridsearch.best_estimator_, 'rf_best_model.pkl', compress = 3)

['rf_best_model.pkl']

In [148]:
import joblib
# load RandomForest Gridsearch model
rf_best_model = joblib.load('rf_best_model.pkl')

In [149]:
# Extract one row
single_row = X_test[1:2]

In [150]:
single_row_target = Y_test[1:2]
single_row_target

7483    179000
Name: price, dtype: int64

In [151]:
# Make a prediction with load model
predicted_value_single_row = rf_best_model.predict(single_row)

# Display preiction
print(f"Valeur prédite : {predicted_value_single_row}")

Valeur prédite : [179413.79127726]